.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    height: 10px;
    padding: 10px;
}

.lButton {
    border: none;
    padding: 10px 20px;
    background-color: #FF731D;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}